html, body {
  margin: 0px;
  padding: 0px; }

.header {
  background-color: rgba(200, 100, 0, 0.7);
  color: white;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px; }
  .header .header-container {
    margin: auto;
    width: 640px; }
  .header #header-title {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0; }

.main {
  margin: auto;
  padding: 20px;
  width: 640px; }
  @media screen and (max-width: 667px) {
    .main {
      font-size: 1.8em; }
      .main h2 {
        font-size: 1.2em; } }

.menu-container {
  margin: 0;
  margin-top: 50px;
  padding-top: 20px;
  background-color: #EEE; }

.menu {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 620px; }
  @media screen and (max-width: 667px) {
    .menu {
      font-size: 1.8em; }
      .menu h2 {
        font-size: 1.2em; } }

.footer-container {
  margin: 0;
  background-color: #EEE; }

.footer {
  padding: 10px;
  color: #777;
  text-align: right; }
