// const
$piece-size: 155px;
$board-size: $piece-size * 4;

// mixin

@mixin button() {
  user-select: none;
  cursor: pointer;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

// puzzle style

.puzzle {
  color: #666; }

.puzzle-board {
  cursor: pointer;
  margin: auto;
  margin-bottom: 50px;
  padding: 0;
  box-sizing: content-box;
  border: 1px solid #aaa;
  position: relative;
  @include size($board-size);
}

.piece {
  box-sizing: border-box;
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  border: 1px solid #666;
  box-sizing: border-box;
  transition: all 0.3s ease;
  @include size($piece-size);
}

.piece-img {
  position: absolute;
  @include size($board-size);
}
